.pokemon-card
    font-family: "Verdana", sans-serif
    background: rgba(227, 146, 214, 0.65)
    border: 1px solid pink
    padding: 15px
    margin: 7px
    border-radius: 10px
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%)
    border-color: rgba(223,225,229,0)